.point{
    border: gray solid 1px;
    height: 68vh;
    width: 53vw;
    flex: 0.66;
    margin-top: 7vw;
    margin-right: 6vw;
}

.point h1{
    font-size: 1em;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
}

.pointcard{
    margin-top: 7vh;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border: 1px solid #FFFFFF;
    box-shadow: 7px 2px 11px rgba(0, 0, 0, 0.25);
    padding-top: 4vh;
    margin: 5vh auto;
}

.imagen-bkn{
    position: absolute;
    border-radius: 100px;
    margin-top: 2vh;
    background-color: rgba(65, 96, 124, 0.08);
    width: 14vh;
    height: 14vh;
    margin: -4vh auto 0;
}

.cards img {
    margin-bottom: 5vh;
    padding: 2vh;
    width: 14vh;
    height: 14vh;
    margin: -4vh auto 0;
}

.cards p {
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 2vh;
}